 
@import 'venue_map';

$panel-border-color: #ddd;


body{

	/*color: white;
 	background: linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
		linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
		linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
		linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
		linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
		linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
	background-color: #131313;
	background-size: 20px 20px;*/
}

	div.till-panel{
		width: 100%;
		height: 100%;
		position: relative;
	}

	div.menu-panel{
		position: absolute;
		left: 0px;
		top: 0px;
		width: 50%;
	}
	
	div.tabs-panel{
		position: absolute;
		right: 0px;
		top: 0px;
		width: 50%;
	}

	div.menu-body{
		padding: 5px;
		max-height: 450px;
  		overflow-y: scroll;
  		color: black;
	}

	li.menu-submenu-item{
		padding: 5px;
		font-size: 1.2rem !important;
		line-height: 2rem;
	}

	li.tab-item{
		padding: 5px;
		font-size: 1.1rem !important;
		line-height: 1.5rem;
	}

	ul.connected-tab-list{
		background-color: #DDD;
		min-height: 2rem;
	}

	ul.tab-list-group{
		margin-bottom: 0px;
	}

	button.menu-submenu-item{
		padding: 2px !important;
		white-space: normal;
		line-height: 1em;
		margin: 2px;
		min-height: 3em;
		max-height: 3em;
		overflow: hidden;
		max-width: 9.8rem;
	}

	.menu-item-detail{
		float: right;
		margin-left: 1rem;
		width: 5rem;
	}

	.menu-item-button{
		float: right;
		margin-left: 1rem;
	}

	h4.menu-item-heading{
		font-size: 12px;
	}

	.panel-heading-navbar{
		margin-bottom: 0px;
	}

	.till-tab-panel{
		border-bottom: 1px solid $panel-border-color;
		border-left: 1px solid $panel-border-color;
		border-right: 1px solid $panel-border-color;
		border-top: none;
		border-radius: 0px 0px 9px 9px;
		padding: 0.8rem;
		background: rgba(250,250,250,1);
	}

	.till-column{
		padding-left: 5px;
		padding-right: 5px;
	}

	.xn-calc{
		min-width: 15rem;
		//max-width: 12rem;
	}

	button.calc-button{
		width: 30px;
		font-size: 1.2rem;
		margin: 0.3rem;
	}

	.calc-screen{
		padding: 5px 15px;
		line-height: 1.5em;
		margin-bottom: 5px;
		line-height: 1.5em;
  		font-size: 1.2rem;
  		min-height: 30px;
	}

	.table-info{
		position: relative;
		top: -15px;
		overflow: visible;
		
		span{
			white-space: nowrap;
			color: rgb(100,100,100);
			background-color: rgba(255,255,255,0.6);
			text-align: center;
			border-radius: 5px;
			padding-right: 5px;
			padding-left: 5px;
		 }
	}

	.menu-column{
		padding-right: 0rem;
	}

	.tab-column{
		padding-left: 0.5rem;
	}

	.remove-left-right-padding{
	 	padding-left: 0px !important;
	 	padding-right: 0px !important;
	}

	.subtabs-viewport{
		max-height: 400px;
		overflow-x: scroll; 
	}

	/*Overrides Bootstrap definition to reduce the padding.*/
	.modal-body {
		position: relative;
		padding: 5px;
	}

	@media (min-width: 1024px) {
		.modal-xl {
			width: 1000px;
		}
	}


