<div class="panel panel-primary" ng-controller="TillCtrl">
	
	<div class="panel-heading">
		{{menu.title}}&nbsp;&nbsp;
		<small>{{menu.desc}}</small>
	</div>
	
	<div class="navbar navbar-default panel-heading-navbar">
		<div class="container-fluid">
			<form class="navbar-form navbar-right">
				<div class="input-group">
					<span class="input-group-addon" translate>COMMON_FIND</span>
					<input type="search" class="form-control input-sm" placeholder="{{'PHOLD_SEARCH_MENU' | translate}}" aria-describedby="basic-addon1" ng-model="q">
					<span class="input-group-btn">
						<button type="button" class="btn btn-sm btn-default"><span translate>BTN_CLEAR</span></button>
					</span>
				</div>

				<button type="button" class="btn btn-sm btn-default" data-template="popovers/specialOrder.html" data-animation="am-flip-x" data-auto-close="1" data-placement="left" bs-popover><span translate>BTN_SPEC_PREP</span></button>

				<button type="button" class="btn btn-sm btn-default" data-template="popovers/xNPopover.html" data-animation="am-flip-x" data-auto-close="1" data-placement="right" bs-popover>xN</button>
			</form>
		</div>
	</div>
	<div class="panel-body menu-body">
		
		<div bs-tabs>
			<div ng-repeat="(index, submenu) in menu.submenus" title="{{submenu.title}}" class="till-tab-panel" bs-pane>
				<venue-submenu submenu="submenu" query="q" ></venue-submenu>
			</div>
		</div>
		
	</div>
</div>