<div class="panel panel-primary">
	<div class="panel-heading">
		<span translate>COMMON_TAB</span>
		<span class="pull-right">{{tab.tabItems.subTotal | currency}}</span>
		<span class="pull-right" ng-if="tab.newItems.subTotal>0">&nbsp;+&nbsp;</span>
		<span class="pull-right" ng-if="tab.newItems.subTotal>0"><small>{{tab.newItems.subTotal | currency}}</small></span>
	</div>

	<!--Tab controls. Show only if the table has an open tab-->
	<div class="navbar navbar-default panel-heading-navbar" ng-if="tab">
		<div class="container-fluid">
			<form class="navbar-form navbar-right">
				<button type="button" class="btn btn-sm btn-default" ng-click="serve()" translate>BTN_SERVE</button>
			</form>
		</div>
	</div>
	
	<div class="panel-body menu-body">

		<!--New items list. Show only if the table has an open tab-->
		<ul class="list-group" ng-if="tab">
			<li class="list-group-item menu-submenu-item" ng-repeat="item in tab.newItems.items | orderBy:'-updated ' track by $index">
				<span>x{{item.xn}}</span>
				<span>{{item.title | truncate:20}}</span>

				<button type="button" class="btn btn-primary btn-xs menu-item-button" ng-disabled="item.status.id>0" ng-click="addAnotherToTab(item)">+</button>
				<button type="button" class="btn btn-primary btn-xs menu-item-button" ng-disabled="item.status.id>0" ng-click="removeItemFromTab(item)">-</button>
				<!--span class="menu-item-detail"><small>{{item.updated  | date: "hh:mm a"}}</small></span-->
				<span class="menu-item-detail">{{item.pricexn | currency}}</span>
				<!--span class="menu-item-detail">{{item.price | currency}}</span-->
			</li>
		</ul>

		<!--Already ordered items list. Show only if the table has an open tab-->
		<ul class="list-group" ng-if="tab">
			<li class="list-group-item menu-submenu-item" ng-repeat="item in tab.tabItems.items | orderBy:'-updated ' track by $index">
				<span>x{{item.xn}}</span>
				<span>{{item.title | truncate:20}}</span>

				<span class="menu-item-detail"><small><em>{{item.status.desc | translate}}</em></small></span>
				<span class="menu-item-detail"><small>{{item.updated  | date: "hh:mm a"}}</small></span>
				<span class="menu-item-detail">{{item.pricexn | currency}}</span>
				<!--span class="menu-item-detail">{{item.price | currency}}</span-->
			</li>
		</ul>
		
		<!--If the table has no tab currently open-->
		<div class="fluid-container" ng-if="!tab">
			<div class="alert alert-info" role="alert" translate>
				Q_OPEN_NEW_TAB
			</div>

			<div class="navbar navbar-default panel-heading-navbar">
				<div class="container-fluid">
					<form class="row navbar-form remove-left-right-padding">
						<div class="input-group col-xs-12">
							<span class="input-group-addon" translate>COMMON_TAG</span>
							<input type="text" class="form-control input-sm" placeholder="Tag your new tab" aria-describedby="basic-addon1" ng-model="newTab.tag">
						</div>
						<div class="input-group col-xs-6">
							<span class="input-group-addon" translate>COMMON_PAX</span>
							<input type="number" class="form-control input-sm" aria-describedby="basic-addon1" ng-model="newTab.pax" min="1">
						</div>
						
						<button class="btn btn-default btn-sm col-xs-3 pull-right" data-ng-click="increasePax()"><span class="glyphicon glyphicon-chevron-up"   ></span></button>
						<button class="btn btn-default btn-sm col-xs-3 pull-right" data-ng-click="decreasePax()"><span class="glyphicon glyphicon-chevron-down" ></span></button>

						<div class="input-group col-xs-12">
							<button type="button" class="btn btn-sm btn-primary btn-block" ng-click="openTab()" translate>BTN_OPEN</button>
						</div>
						
					</form>
				</div>
				
			</div>

		</div>
	</div>
</div>